<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VLCRTSP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VLCRTSP.Properties.Settings>
            <setting name="SaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="IpCam1" serializeAs="String">
                <value>192.168.41.151</value>
            </setting>
            <setting name="IpCam2" serializeAs="String">
                <value>192.168.41.152</value>
            </setting>
            <setting name="IpCam3" serializeAs="String">
                <value>192.168.41.153</value>
            </setting>
            <setting name="IpCam4" serializeAs="String">
                <value>192.168.41.154</value>
            </setting>
            <setting name="IpCam5" serializeAs="String">
                <value>192.168.41.155</value>
            </setting>
            <setting name="IpCam6" serializeAs="String">
                <value>192.168.41.156</value>
            </setting>
            <setting name="IpCam7" serializeAs="String">
                <value>192.168.41.157</value>
            </setting>
            <setting name="IpCam8" serializeAs="String">
                <value>192.168.41.158</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>user01</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>abcd1234</value>
            </setting>
            <setting name="ViewLink" serializeAs="String">
                <value>/ch1/sub/av_stream</value>
            </setting>
            <setting name="CaptureLink" serializeAs="String">
                <value>/ISAPI/Streaming/channels/101/picture</value>
            </setting>
            <setting name="Station" serializeAs="String">
                <value>1</value>
            </setting>
        </VLCRTSP.Properties.Settings>
    </userSettings>
</configuration>